{{> nav}}
<div class="conteiner">
    <p class="stopName center">Stop name: {{this.name}} ({{this.code}})</p>
    {{#each lines}}
    <div class="row">
        <div class="col s12">
            <div class="card horizontal s12">
                <div class="card-image">
                    <img src="img/{{vehicle_type}}.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <div class="card-title">{{vehicle_type}} {{name}}</div>
                        <p>{{arrivals}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>